body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000;
    color: #fff;
}

.poster {
    width: 488px;
    height: 640px;
    background-image: url("./Desain tanpa judul.png");
    background-size: cover;
    background-position: center;
    padding: 30px;
    margin: auto;
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
    position: relative;
}


.container {
    position: absolute;
    top: 30px;
    left: 30px;
    width: calc(100% - 60px);
    color: white;
    line-height: 1;
    font-family: "Noto Sans", sans-serif;
}

.line-1 {
    font-family: "Noto Sans", sans-serif;
    font-size: 1.8em;
    margin: 0;
}
.large-text {
    font-size: 1.5em;
    font-weight: 700;
    margin-left: 5px;
}
.line-2 {
    font-size: 1.8em;
    margin: 5px 0 0 0;
}
.line-3 {
   font-family: "Noto Sans", sans-serif;
    font-size: 2.8em;
    margin: 5px 0 0 0;
}

.question-mark {
    position: absolute;
    top: 30px;
    right: 30px;
    font-family: "Noto Sans", sans-serif;
    font-size: 9em;
    font-weight: 700;
    line-height: 1;
    margin-right: 200px;
}

.ayat {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 60px);
    text-align: left;
    font-family: "Noto Sans", sans-serif;
}

.ayat h1 {
    font-family: "Noto Sans", sans-serif;
    font-size: 3.5em;
    margin: 0 0 15px;
    font-weight: 200;
}

.ayat h5 {
    font-size: 1.2em;
    margin: 0 0 5px;
}

.ayat p {
    font-size: 0.9em;
    color: #ccc;
    margin: 0;
}
