/* Reset sederhana */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background: #fdfdfd;
  color: #222;
}

/* Title Section */
.title {
  text-align: center;
  padding: 30px 15px;
  background: rgb(34, 193, 195);

  color: #fdfdfd;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-title {
  margin: 0;
  font-size: 28px;
}
.subtitle {
  margin-top: 10px;
  font-size: 14px;
  font-style: italic;
}

/* Intro Section */
.intro {
  padding: 20px;
  text-align: center;
}
.hero-img {
  width: 80%;
  width: 800px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
}
.content {
  text-align: justify;
  font-size: 16px;
  margin: 10px 0;
}

/* Section Sahabat */
.sahabat {
  padding: 20px;
  border-bottom: 1px solid #ddd;
}
.sahabat-title {
  color: #fdfdfd;
  background: #2a7b9b;
  background: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(237, 221, 83, 1) 100%
  );
  margin-bottom: 10px;
  font-size: 20px;
}

/* Footer */
.footer {
  background: #020024;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 20px;
}
/* i */
i {
  color: green;
}
.img{
}
