* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #fff;
}

.hero-section {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 150px;
}

.teks-hero h1 {
  font-size: 40px;
  margin-bottom: 15px;
}

.teks-hero p {
  color: #777;
  line-height: 1.5;
  margin-bottom: 18px;
  font-size: 20px;
}

.social {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}
.social img {
  width: 25px;
  height: auto;
}

.socials i {
  font-weight: bold;
  cursor: pointer;
}

.button {
  padding: 15px 25px;
  background: #0d6efd;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-family: 20px;
  transition: 0.6s;
}
.button:hover{
    border: 1px solid #0d6efd;
    background-color: #fff;
    color: #0d6efd;
    padding: 15px 25px;
}

.hero-img .bulat {
  width: 400px;
  height: 400px;
  background: #d9d9d9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #999;
  font-size: 22px;
}
