* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://picsum.photos/id/29/1200/800') no-repeat center center/cover;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    background-color: #fff;
    border-radius: 20px;
    width: 80%;
    max-width: 1000px;
    box-shadow: 20px 20px 50px #d5dff0;
    animation: fadeIn 1s ease-out;
    transition: 0.3s;
}

.hero-section:hover {
    transform: translateY(-5px);
}

.hero-img .bulat {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #D6D6D6;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bulat img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.bulat:hover img {
    transform: scale(1.1);
}

.text h1 {
    font-size: 40px;
    font-weight: 700;
}

.text h3 {
    font-weight: 450;
    color: #818181;
}

.text p {
    color: #777;
    line-height: 1.5;
    margin-bottom: 18px;
    font-size: 18px;
}

.button {
    padding: 15px 25px;
    background: #2E6CD1;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover {
    background-color: #1c4da1;
    letter-spacing: 1px;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}
