#flex-container {
  display: flex;
  flex-direction: row;
}

.flex-item {
  flex-basis: 100%;
  height: 100px;
  margin: 4px;
  background: #ec5453;
  font-size: 60px;
  color: white;
  text-align: center;
  font-family: poppins, sans-serif;
}
html, body, #flex-container {
  height: 100%;
}
#flex-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.flex-item {
  width: 100px;
  height: 100px;
  margin: 4px;
  background: #ec5453;
  font-size: 60px;
  color: white;
  text-align: center;
}

