:root {
  --color-dark-start: #4b79a1;
  --color-dark-end: #283e51;
  --color-text-light: #ffffff;
  --color-text-dark: #1a2c42;
  --colo-text-pink: ;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f0f4f8;
  font-family: "Poppins", sans-serif;
  background-color: #1a2c42 ;
}

.poster {
  padding: 20px;
  background-image: url("./Frame\ 3\ \(1\).png");
  box-shadow: 0 15px 40px rgba(40, 62, 81, 0.4);
  border-radius: 15px;
  transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

.poster:hover {
  transform: scale(1.05);
  box-shadow: 0 25px 60px rgba(40, 62, 81, 0.6);
}

.card-poster {
  width: 350px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  color: var(--color-text-light);
}

.card-poster h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5em;
  color: var(--color-text-light);
  margin-top: 0;
  padding: 5px 10px;
  background-color: transparent;
  font-weight: 700;
}
.masked-text {
    font-size: 8rem;
    font-weight: bold;
    color: transparent;
    background-image: url(./image\ 1\ \(4\).png);
    background-size: 200%;
    background-position: 0 50%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-background 5s infinite linear;
}

@keyframes animate-background {
    0% {
        background-position: 0 50%;
    }
    100% {
        background-position: 100% 30%;
    }
}


.card-poster h2 {
  font-size: 0.8rempx;
  color: var(--color-text-light);
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 600;
}
@keyframes lights {
  0% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }

  30% {
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }

  40% {
    color: hsl(230, 100%, 95%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 90%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }

  70% {
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }

  100% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
}
@keyframes blink {
  0%, 100% {opacity: 1;}
  50% {opacity: 0.3;}
}
h2 {
  margin: auto;
  font-size: px;
  font-weight: 300;
  animation: lights 5s 750ms linear infinite;
  animation-name: blink;
}
.card-poster p {
  font-size: 1.3em;
  font-style: italic;
  color: var(--color-text-light);
  line-height: 1.5;
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.card-poster p:hover{
  color: #4b79a1;
  transition:  0.5s;
}

.card-poster button {
  padding: 10px 20px;
  border: 2px solid var(--color-text-light);
  border-radius: 25px;
  background-color: transparent;
  color: var(--color-text-light);
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;

  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s, color 0.3s;
}

.card-poster button:hover {
  background-color: var(--color-text-dark);
  color: var(--color-text-light);
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.2);
}
