
    @import url('https://fonts.googleapis.com/css?family=Montserrat');

    * {
        box-sizing: border-box;
    }

    body {
        background-image: linear-gradient( 177.6deg,  rgba(20,0,113,1) 15.3%, rgba(1,0,62,1) 91.3% );
        font-family: Montserrat, sans-serif;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        min-height: 100vh;
        margin: 0;
    }

    h3 {
        margin: 10px 0;
    }

    h6 {
        margin: 5px 0;
        text-transform: uppercase;
        color: red;
    }
    h5{
        margin: 5px 0;
        text-transform: uppercase;
    }

    p {
        font-size: 14px;
        line-height: 21px;
    }

    .card-container {
        background-color: #13006d;
        border-radius: 5px;
        box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
        color: white;
        padding-top: 30px;
        position: relative;
        width: 350px;
        max-width: 100%;
        text-align: center;

    }
    .profile img {
        border-radius: 100px;
       border: 5px solid #030042;
    }
    .card-container .round {
        border: 1px solid #03BFCB;
        border-radius: 50%;
        padding: 7px;

    }
    button.primary {
        background-color: #030042;
        border: 1px solid white;
        border-radius: 3px;
        color: white;
        font-family: Montserrat, sans-serif;
        font-weight: 500;
        padding: 10px 25px;
        cursor: pointer;
        margin: 5px;
    }

    button.primary.ghost {
        background-color: transparent;
        background-color: #030042;
        color: white;
    }

    .skills {
        background-color: #030042;
        text-align: left;
        padding: 15px;
        margin-top: 30px;
    }

    .skills ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .skills ul li {
        border: 1px solid #2D2747;
        border-radius: 2px;
        display: inline-block;
        font-size: 12px;
        margin: 0 7px 7px 0;
        padding: 7px;
    }
